header.header
    .container
        .header__wrapper
            .header__logo
                a(href="/")
                    +icon('logo')
            .header__block
                nav.header__navs
                    +loop(5)
                        a(href="#") Link
                .header__info
                    a(href="#").btn.btn--primary Button
