<section class="section">
    <h2 class="section__title">{{ title }}</h2>
    <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, excepturi fugiat id
        ipsum magnam molestias nesciunt quam quos reiciendis vero. Assumenda delectus enim est expedita, inventore
        quisquam temporibus unde vitae.</p>


    <div class="section__items">
        {{#> item title="Hi, this is my first post"}}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nemo.</p>
        {{/item}}

        {{#> item title="Hi, this is my first post"}}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nemo.</p>
        {{/item}}

        {{#> item title="Hi, this is my first post"}}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nemo.</p>
        {{/item}}
    </div>
</section>